.container {
    padding: 10px;

}

.full-width {
  width: 100%;
}

::ng-deep .custom-select-button {
  height: 56px !important;
}

::ng-deep .custom-select-button .p-button {
  height: 56px !important;
  display: flex;
  align-items: center;
}

::ng-deep .custom-input-group {
  height: 56px !important;
  max-width: 300px !important;
}

::ng-deep .custom-input-group .p-inputgroup {
  height: 56px !important;
}

::ng-deep .custom-input-group .p-inputnumber,
::ng-deep .custom-input-group .p-inputnumber-input,
::ng-deep .custom-input-group .p-inputgroup-addon {
  height: 56px !important;
}

::ng-deep .custom-input-group .p-inputgroup-addon .p-button {
  height: 56px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep p-button {
  height: 56px !important;
}


::ng-deep .custom-buttom .p-button {
  height: 40px !important;
  color: var(--mat-sys-primary);
  font-family: Roboto,
  "Helvetica Neue",
  sans-serif;
  border: none;
}

::ng-deep .custom-buttom .p-button:hover {
  background-color: var(--mat-button-protected-container-color, var(--mat-sys-surface));
  color: var(--mat-sys-primary);
  border: none;
}



::ng-deep .custom-buttom .p-button:disabled {
  border: none;
  color: var(--mat-button-protected-disabled-label-text-color, color-mix(in srgb, var(--mat-sys-on-surface) 80%, transparent));
  background-color: var(--mat-button-protected-disabled-container-color, color-mix(in srgb, var(--mat-sys-on-surface) 25%, transparent))
}

