<div>
  <mat-card appearance="outlined">
    <mat-card-header class="p-3"
                     style="background-color: #252525; border-radius: 10px">
      <mat-card-title class="" style="display: flex; align-items: center; gap: 8px;">
        <mat-icon>merge</mat-icon>
        Criação de template para Pull Requests
      </mat-card-title>
    </mat-card-header>
  <mat-card-content>
    <div class="mt-2 mb-2 row" style="display: flex; align-items: flex-start; gap: 15px; margin-top: 10px;">
      <div style="display: flex; gap: 10px; width: 100%">
        <p-inputgroup styleClass="custom-input-group">
          <p-inputnumber
            [(ngModel)]="cardNumber"
            (ngModelChange)="onCardNumberChange()"
            placeholder="Número do card"
            inputId="minmaxfraction"
            mode="decimal" [useGrouping]="false">
          </p-inputnumber>
          <p-inputgroup-addon>
            <p-button
              (onClick)="getPullRequestByCardNumber()"
              [disabled]="!cardNumber || !environmentName || isPullRequestLoading"
              icon="pi pi-search" severity="secondary" variant="text"/>
          </p-inputgroup-addon>
        </p-inputgroup>

        <p-inputgroup style="width: auto">
          <p-inputgroup-addon
            (dblclick)="onPrefixDoubleClick()"
            [style.cursor]="'pointer'"
            [style.user-select]="'none'"
          >
            @if (!isEditingPrefix) {
              {{ branchPrefix }}
            } @else {
              <input
                pInputText
                [(ngModel)]="branchPrefix"
                (blur)="onPrefixBlur()"
                (ngModelChange)="onPrefixChange()"
                style="width: 80px; padding: 0.25rem; height: 100%;"
                autofocus
              />
            }
          </p-inputgroup-addon>
          <input pInputText placeholder="branch name" [(ngModel)]="branchName"/>
        </p-inputgroup>

        <p-selectbutton
          class="mr-auto"
          [options]="justifyOptions"
          [(ngModel)]="environmentName"
          optionLabel="label"
          optionValue="value"
          styleClass="custom-select-button">
        </p-selectbutton>

<!--        <p-selectbutton-->
<!--          class="mr-auto"-->
<!--          [options]="cardTypeOptions"-->
<!--          [(ngModel)]="cardType"-->
<!--          optionLabel="label"-->
<!--          optionValue="value"-->
<!--          styleClass="custom-select-button">-->
<!--        </p-selectbutton>-->
      </div>


    </div>

    <!--
        @if (template !== null){
          <button matButton
                  (click)="openDialogTemplate()"
                  matTooltip="Clique para ver o template carregado"
                  matTooltipPosition="above"
                  style="margin-bottom: 10px"><mat-icon>article_shortcut</mat-icon>Template carregado</button>
        }-->

        @if (fullDescription !== null){
          <button matButton
                  (click)="openDialogFullDescription()"
                  matTooltip="Clique para ver a descrição completa"
                  matTooltipPosition="above"
                  style="margin-bottom: 10px"><mat-icon>article_shortcut</mat-icon>Descrição montada</button>
        }

        @if (pullRequest.rootCause && pullRequest.rootCause.length){
          <button matButton
                  class="ms-2"
                  (click)="openDialogRCA()"
                  matTooltip="Clique para ver o RCA"
                  matTooltipPosition="above"
                  style="margin-bottom: 10px"><mat-icon>article_shortcut</mat-icon>Root Cause</button>
        }


        <mat-form-field class="full-width" style="height: 100%">
          <mat-label>Descrição</mat-label>
          <textarea [(ngModel)]="pullRequest.description"   matInput placeholder="Ex. It makes me feel..." cols="30" rows="4"></textarea>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Root Cause</mat-label>
          <textarea [(ngModel)]="pullRequest.rootCause" (ngModelChange)="generateFullDescriptionHandler()" matInput placeholder="Ex. It makes me feel..." cols="30" rows="4"></textarea>
        </mat-form-field>


      </mat-card-content>
      <mat-card-actions style="background-color: #5b5b5b; margin-top: 20px; border-radius: 10px;">
        @if(!isMobile){
          <p-splitbutton class="custom-buttom"
                         label="Copiar"
                         icon="pi pi-copy"
                         [disabled]="isPullRequestLoading || fullDescription === null"
                         [model]="copyCustomButtons" (onClick)="copyFullDescriptionToClipboard('full')" rounded severity="secondary"/>
          <button mat-raised-button style="margin-left: 10px"
                  (click)="openGithubPullRequestPage()"
                  [disabled]="!this.pullRequest?.description || !this.environmentName.length">Abrir PR<mat-icon>merge</mat-icon></button>

          <button mat-raised-button style="margin-left: 10px"
                  [disabled]="isPullRequestLoading || fullDescription === null"
                  (click)="savePullRequest()">Salvar<mat-icon>save</mat-icon></button>
          <button mat-raised-button style="margin-left: 10px"
                  [disabled]="isPullRequestLoading || fullDescription === null"
                  (click)="clearAll()">Limpar<mat-icon>clear</mat-icon></button>

          <!-- Button to generate prompt for AI processing
          <button mat-raised-button style="margin-left: 10px"
                  [disabled]="!cardNumber"
                  (click)="openDialogPrompt()">Gerar Prompt
            <mat-icon>model_training</mat-icon>
          </button>
          Button to save root cause to DevOps (currently disabled) -->

      <button mat-raised-button
              (click)="saveRootCauseToDevOps()"
              [disabled]="isAzureLoading || !cardNumber || !pullRequest?.rootCause"
              style="margin-left: 10px">
        Salvar RC no DevOps
        <mat-icon>beenhere</mat-icon>
      </button>
      <button mat-raised-button style="margin-left: 10px"
              [disabled]="!cardNumber"
              (click)="generatePullRequestWithAi()"
      >Gerar com IA<mat-icon>model_training</mat-icon></button>


    } @else {
      <p-splitbutton style="width: 100% !important"
        label="Salvar"
                     icon="pi pi-save"
                     [disabled]="isPullRequestLoading || fullDescription === null"
                     [model]="mobileButtons" (onClick)="savePullRequest()" rounded severity="secondary" />
    }




  </mat-card-actions>
</mat-card>
</div>
<ngx-loading-bar></ngx-loading-bar>

