<div class="d-flex align-items-center  h-100" >
  <button mat-icon-button class="ms-1" (click)="onToggleSidebar()">
    <mat-icon>
      {{isCollapsed ? 'menu' : 'menu_open'}}
    </mat-icon>
  </button>


  <span class="example-spacer "></span>
  <button hidden mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon >manage_accounts</mat-icon>
  </button>
  <button hidden mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon >mark_chat_unread</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon >notifications</mat-icon>
  </button>
  <a style="cursor: pointer">


    <a mat-fab class="example-icon ms-4" style="width: 40px; height: 40px; background-color: black;">
      <img src="assets/images/user.png" class="avatar status {{isOn? 'is-on':'is-off'}}">
    </a>

      <span class="ms-2" style="font-size: 15px;">
      {{
          user.firstName + ' ' + user.lastName
        }}
    </span>

  </a>

  <a [matMenuTriggerFor]="menuUser" class="mt-2 text-white" style="cursor: pointer">
    <mat-icon>arrow_drop_down</mat-icon>
  </a>
</div>


<mat-menu #menuUser="matMenu">
  <button [routerLink]="['administracao/userMananger']" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Meu perfil</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logOut()">
    <mat-icon>logout
    </mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
