<div class="topbar-inner">
  <button mat-icon-button class="menu-toggle" (click)="onToggleSidebar()"
          [matTooltip]="isCollapsed ? 'Expandir menu' : 'Recolher menu'" matTooltipPosition="right"
          aria-label="Alternar menu lateral">
    <mat-icon>{{ isCollapsed ? 'menu' : 'menu_open' }}</mat-icon>
  </button>

  <span class="env-badge" *ngIf="!isProduction">DEV</span>

  <span class="topbar-spacer"></span>

  <button mat-icon-button class="topbar-icon-btn" matTooltip="Notificações" aria-label="Notificações">
    <mat-icon>notifications</mat-icon>
  </button>

  <button type="button" class="profile-chip" [matMenuTriggerFor]="menuUser" aria-label="Menu do usuário">
    <span class="profile-avatar">
      @if (profilePhoto) {
        <img [src]="profilePhoto" class="avatar-img {{ isOn ? 'is-on' : 'is-off' }}" alt="">
      } @else {
        <app-user-avatar [name]="user?.fullName" [size]="36"></app-user-avatar>
      }
    </span>
    <span class="profile-name">{{ user.firstName }} {{ user.lastName }}</span>
    <mat-icon class="profile-caret">arrow_drop_down</mat-icon>
  </button>
</div>


<mat-menu #menuUser="matMenu" class="profile-menu" xPosition="before">
  <div class="pm-header" (click)="$event.stopPropagation()">
    <span class="pm-avatar">
      @if (profilePhoto) {
        <img [src]="profilePhoto" alt="">
      } @else {
        <app-user-avatar [name]="user?.fullName" [size]="44"></app-user-avatar>
      }
    </span>
    <div class="pm-info">
      <span class="pm-name">{{ user.firstName }} {{ user.lastName }}</span>
      @if (user?.userName) {
        <span class="pm-sub">{{ user.userName }}</span>
      }
    </div>
  </div>

  <button (click)="openProfile()" mat-menu-item>
    <mat-icon>person</mat-icon>
    <span>Meu perfil</span>
  </button>
  <button mat-menu-item class="pm-danger" (click)="logOut()">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
