<div class="dialog-container">
  <mat-dialog-content class="dialog-content">
    <div class="generated-content mt-3">
      <div class="markdown-viewer p-3 bg-dark rounded"
           style="max-height: 550px; height: 550px; overflow-y: auto;"
           [innerHTML]="generatedText | safeHtml">
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="dialog-footer">
    <button matButton mat-dialog-close (click)="dialogRef.close()">Fechar</button>
  </mat-dialog-actions>
</div>
